#############
## Idea
#############
.idea/
.idea
*.iml
*.iws
*.tcs
*.info
*.properties
*.gitignore
*.gitattributes

/out/
/CodeGymPlugin.properties
/Instruction.png
/out.log
/out.log.*